<!-- Hero Section -->
<section class="hero-section text-center">
    <div class="container">
        <h1>Boost Your Productivity with <span class="text-primary">TaskUp</span></h1>
        <p class="lead">Organize your tasks effectively using the Eisenhower matrix.</p>
        <p>By prioritizing tasks based on urgency and importance, you can focus on what truly matters and increase
            productivity.</p>
    </div>
</section>

<!-- Features Section -->
<section id="features" class="features-section text-center">
    <div class="container">
        <h2>Features</h2>
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/priority_matrix.gif" alt="Priority Matrix" class="feature-image">
                <h3 class="mt-3">Priority Matrix</h3>
                <p>Sort tasks based on urgency and importance using the Eisenhower matrix.</p>
            </div>
            <div class="col-lg-4">
                <img src="assets/task_managment.gif" alt="Task Management" class="feature-image">
                <h3 class="mt-3">Task Management</h3>
                <p>Create, edit, and delete tasks with ease.</p>
            </div>
            <div class="col-lg-4">
                <img src="assets/responsive_design.gif" alt="Responsive Design" class="feature-image">
                <h3 class="mt-3">Responsive Design</h3>
                <p>Access Taskup on any device, anytime, anywhere.</p>
            </div>
        </div>
    </div>
</section>

<!-- How to Use Section -->
<section id="how-to-use" class="how-to-use-section text-center mt-4">
    <div class="container">
        <h2>How to Use the Eisenhower Matrix</h2>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>The Eisenhower matrix, also known as the Urgent-Important matrix, helps you categorize tasks into
                    four quadrants:</p>
                <div class="row row-cols-2">
                    <div class="col p-0">
                        <div class="card rounded-0" style="height: 10rem;background-color: #b2d1b1;">
                            <div class="card-header h5">
                                Urgent and Important
                            </div>
                            <div class="card-body align-items-center d-flex justify-content-center ">
                                <p class="card-text">Do these tasks immediately.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="card rounded-0" style="height: 10rem;background-color: #f5eaa6;">
                            <div class="card-header h5">
                                Important, but Not Urgent
                            </div>
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <p class="card-text">Schedule these tasks for later.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="card rounded-0" style="height: 10rem;background-color: #c6cfe8;">
                            <div class="card-header h5">
                                Urgent, but Not Important
                            </div>
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <p class="card-text">Delegate these tasks to someone else if possible.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="card rounded-0" style="height: 10rem;background-color: #ec9ea5;">
                            <div class="card-header h5">
                                Not Urgent and Not Important
                            </div>
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <p class="card-text">Eliminate or postpone these tasks.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p class ="mt-4">By using this matrix, you can prioritize tasks effectively and focus on what truly matters.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg mb-3">Sign Up</button>
    </div>
</section>