<div class="signin-container">
  <img src="assets/sign_in.gif" class="img-fluid mb-4" alt="App Image">
  <h2 class="mb-4">Sign In</h2>
  <form>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  </form>
</div>